body {
    margin:auto;
    font-size: 1em;
    width: 980px;
    padding: 0 15px;
    font-family: Arial;
}
.content {
    padding: 15px;
}
.logo {
    padding: 25px 0px 0;
    border: 10px;
    margin-bottom: 20px;
    text-align: Left;
}
.logo img {
    width: 130px;
    Left: 20px;
}
.logo span {
    display: inline-block;
    padding: 15px 30px 0;
    font-size: 70px;
    font-family: Broadway;
}
nav ul li {
    display: inline;
    list-style: none;
    padding: 0px 25px 0px;
}
nav ul li a{
    color: #000000;
    font-weight: 600;
}
.name a {
    font-size: 22px;
    color: #000000;
    font-weight: 600;
}
img {
    width: 150px;
    position: relative;
    top: 1px;
    left: 110px;
}
.description{
    font-size: 1em;
    padding: 0 10px 10px;
    max-height: 76px;